/* Fonts einbinden */
@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Playwrite";
  src: url(../fonts/Playwrite/PlaywriteDESAS-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Farbe */
  --color-bg-main: linear-gradient(45deg, #001830 0%, #294461 50%, #00162e 100%);
  --color-bg-header-footer: linear-gradient(90deg, #00284f 0%, #00162e 100%);
  --color-bg-img: rgba(227, 227, 227, 0.2);
  --color-fonts: rgb(227, 227, 227);

  /* color Elements */
  --normal: linear-gradient(45deg, #a8a77a 0%, #d6d6c2 100%);
  --fire: linear-gradient(45deg, #ee8130 0%, #f5ac78 100%);
  --water: linear-gradient(45deg, #6390f0 0%, #7ac7ff 100%);
  --electric: linear-gradient(45deg, #f7d02c 0%, #fff700 100%);
  --grass: linear-gradient(45deg, #77c750 0%, #43b30b 100%);
  --ice: linear-gradient(45deg, #96d9d6 0%, #b3ffff 100%);
  --fighting: linear-gradient(45deg, #c22e28 0%, #ff5e5e 100%);
  --poison: linear-gradient(45deg, #a33ea1 0%, #e070e0 100%);
  --ground: linear-gradient(45deg, #e2bf65 0%, #b1732e 100%);
  --flying: linear-gradient(45deg, #a98ff3 0%, #d6baff 100%);
  --psychic: linear-gradient(45deg, #f95587 0%, #ffb5d6 100%);
  --bug: linear-gradient(45deg, #a6b91a 0%, #d1e156 100%);
  --rock: linear-gradient(45deg, #b6a136 0%, #e2c275 100%);
  --ghost: linear-gradient(45deg, #735797 0%, #b39ddb 100%);
  --dragon: linear-gradient(45deg, #6f35fc 0%, #a27dfa 100%);
  --dark: linear-gradient(45deg, #705746 0%, #a89f94 100%);
  --steel: linear-gradient(45deg, #b7b7ce 0%, #d1d1e0 100%);
  --fairy: linear-gradient(45deg, #d685ad 0%, #ffb7fa 100%);

  /* Schriftarten */
  --font-general: "Oswald";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; Dev */
}

html {
  scroll-behavior: smooth;
}

/* Text-Grundlagen */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px; /* nur für Programierung, Später löschen  */
  font-family: var(--font-general), sans-serif, monospace; /* Standartschriftart*/
  background: var(--color-bg-main);
}

/* Contentbegrenzung */
.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

a {
  display: flex;
  align-items: center;
}

/* h2 {
  color: var(--color-fonts);
} */

header,
footer {
  height: 70px;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

button {
  cursor: pointer;
  background: var(--color-fonts);
  height: 3rem;
  width: 25%;
  border-radius: 1rem;
  font-size: 1.4rem;
  transition: all 125ms ease-in-out;
  border: none;
  color: black;
  font-weight: bold;
}

button:hover {
  scale: 1.1;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 5px;
  width: 100px;
}

dialog {
  margin: auto;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 1px #000000;
}

dialog::backdrop {
  background: var(--color-bg-main);
  filter: opacity(0.7);
}

ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  height: 100%;
  transition: all 125ms ease-in-out;
}

li:hover {
  background-color: rgb(201, 201, 201);
}

li:focus {
  outline: none;
  background-color: rgb(201, 201, 201);
}

table {
  width: 100%;
}

th,
td {
  height: 3rem;
  text-align: left;
}

th {
  width: 30%;
}

td {
  width: 70%;
}

progress {
  width: 100%;
  height: 1rem;
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: rgb(201, 201, 201);
}

progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #0300cf;
}

.d-none {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}
