.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  fill: none;
  stroke: var(--color-fonts);
  height: 48px;
  width: 48px;
  stroke-width: 2px;
}

.card-body {
  position: relative;
  overflow: hidden;
  display: flex;

  padding: 10px;
  height: 200px;
  min-width: 280px;
  flex: 1;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.card-body:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}

.background-img {
  position: absolute;
  right: -100px;
  bottom: -105px;
  rotate: 33deg;
}

.poke-background {
  fill: none;
  stroke: var(--color-fonts);
  height: 400px;
  width: 400px;
  stroke-width: 2px;
  filter: opacity(0.3);
  z-index: 1;
}

.data-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  z-index: 2;
}

.elements {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  z-index: 2;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 10px;
  min-width: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.poke-img {
  display: flex;
  max-height: 100%;
  max-width: 40%;
  z-index: 2;
}

.poke-img > img {
  object-fit: contain;
  max-width: 100%;
}

.normal {
  background: var(--normal);
}

.fire {
  background: var(--fire);
}

.water {
  background: var(--water);
}

.electric {
  background: var(--electric);
}

.grass {
  background: var(--grass);
}

.ice {
  background: var(--ice);
}

.fighting {
  background: var(--fighting);
}

.poison {
  background: var(--poison);
}

.ground {
  background: var(--ground);
}

.flying {
  background: var(--flying);
}

.psychic {
  background: var(--psychic);
}

.bug {
  background: var(--bug);
}

.rock {
  background: var(--rock);
}

.ghost {
  background: var(--ghost);
}

.dragon {
  background: var(--dragon);
}

.dark {
  background: var(--dark);
}

.steel {
  background: var(--steel);
}

.fairy {
  background: var(--fairy);
}

.dialog-nav-activ {
  background-color: var(--color-fonts);
}

.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  /* background: var(--color-bg-main); */

  & svg {
    height: 250px;
    width: 250px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;

    & .cls-1 {
      fill: #010101;
    }

    & .cls-2 {
      fill: #fff;
    }

    & .cls-3 {
      fill: #eb2127;
    }
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.error-massage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 420px) {
  .element {
    padding: 0.25rem;
  }
}

@media (max-width: 380px) {
  .elements {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .card-container {
    padding: 0.5rem;
  }

  .data-container {
    width: 50%;
  }

  .poke-img {
    width: 50%;
    margin-left: auto;
  }
}
