.card-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 1rem;
}

.button-container {
  width: 100%;
  display: flex;
  margin: 1rem auto 2rem auto;
  align-items: center;
  justify-content: center;
}

.dialog-body {
  width: 500px;
  height: 95vh;
  overflow: hidden;
}

.dialog-img {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding: 2rem;
}

.dialog-poke-background {
  position: absolute;
  right: -35%;
  top: -15%;
  width: 500px;
  height: 500px;
  rotate: 45deg;
  z-index: 1;
}

.name-area {
  display: flex;
  z-index: 2;
  justify-content: space-between;
}

.picture-class-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.poke-img {
  height: 100%;
  padding-bottom: 1rem;
}

.dialog-content-container {
  position: relative;
  width: 100%;
  height: 70%;

  background: var(--color-fonts);
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  z-index: 2;
}

.dialog-nav {
  height: 50px;
  width: 100%;
}

.dialog-content {
  height: calc(100% - 50px);
  width: 100%;
  padding: 2rem;
}

.stats-name {
  width: 20%;
}

.stats-value {
  width: 20%;
}

.stats-progress {
  width: 60%;
}
