.card-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 1rem;
}

.button-container {
  width: 100%;
  display: flex;
  margin: 1rem auto 2rem auto;
  align-items: center;
  justify-content: center;
}

.dialog-body {
  width: 500px;
  height: 95vh;
  overflow: hidden;
}

.dialog-img {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding: 2rem;
}

.dialog-poke-background {
  position: absolute;
  right: -35%;
  top: -15%;
  width: 500px;
  height: 500px;
  rotate: 45deg;
  z-index: 1;
}

.dialog-headline {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-area {
  display: flex;
}

.name-area h2 {
  display: flex;
  margin-right: 1rem;
}

.close-dialog {
  background-color: transparent;
  margin: 0.5rem;
  width: auto;
  height: auto;
}

.close-dialog:hover {
  scale: 1.2;
}

.close-dialog:focus {
  scale: 1.2;
  outline: none;
}

.picture-class-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.poke-img {
  height: 100%;
  padding-bottom: 1rem;
}

.dialog-content-container {
  position: relative;
  width: 100%;
  height: 70%;

  background: var(--color-fonts);
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  z-index: 2;
}

.dialog-nav {
  height: 50px;
  width: 100%;
}

.dialog-content {
  height: calc(100% - 50px - 48px);
  width: 100%;
  padding: 2rem;
}

.stats-name {
  width: 20%;
}

.stats-value {
  width: 20%;
}

.stats-progress {
  width: 60%;
}

.change-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  height: 3rem;
}

.dialog-button {
  width: 100%;
  border-radius: 0;
}

.dialog-button:hover {
  scale: none;
  background-color: rgb(201, 201, 201);
}

.dialog-button:focus {
  background-color: rgb(201, 201, 201);
}

#back {
  border-right: 1px solid black;
}
